body {}

.projects-fullwidth {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10%;
    background-color: #000;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;

}

.project-container {
    width: 500px;
    height: 300px;
    margin: 40px 30px;
}

.project-holder {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.project-holder h1 {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 400;
}

.project {
    height: inherit;
    width: inherit;
    z-index: 2;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.project::after {
    content: "";
    width: inherit;
    height: inherit;
    background-image: linear-gradient(to bottom, rgba(31, 30, 30, 0.075), rgba(0, 0, 0, 3.555));
}

.project img {
    width: inherit;
    height: inherit;
}

.project-holder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #8957FF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all .5s;
}

.project-holder:hover::before {
    top: 20px;
    left: 20px;

}

.project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
}

.project:hover::after {
    background-color: rgba(57, 57, 170, 0.308);
}

@media (max-width: 500px) {
    .projects-fullwidth {
        padding-top: 25%;
        flex-direction: column;
    }

    .project-container {
        width: 85vw;
        height: 25vh;
        margin: 20px 0;
    }

    .project-holder:hover::before {
        top: 10px;
        left: 0px;
    }
}